body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 375px;
    font-family: "Raleway";
    src: url(/fonts/Raleway/OFL.txt);
    margin-bottom: 15em;
    background: linear-gradient(to right, rgb(113, 112, 228), #c45cc4);
    color: white;
}

.index{
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 3em;
}

.head {
    margin-top: 1em;
}

h2 {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.top{
    margin-top: 4em;
}

h3 {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    margin-top: 3em;
}

h4 {
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.4em;
    margin-top: 1em;
}

.shadow{
    text-shadow: 1px 1px 1px #000000;
}

button {
    text-decoration: none;
    list-style-type: none;
    border: solid, 0.5em;
    width: 8em;
    border-radius: 1.4em;
    text-align: center;
    background-color: lightgray;
    color: white;
}

.startbutton {
    margin-left: 5em;
    margin-right: 1em;
    margin-top: 1em;
    min-width: 10em;
    min-height: 4em;
    font-size: 1.2em;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(113, 112, 228), #c45cc4);
    border: 0;

}

.routebutton {
    float: left;
    margin-left: 2em;
    height: 2em;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(113, 112, 228), #c45cc4);
    border: none;
}

button a {
    text-decoration: none;
    color: white;
}

p {
    text-decoration: none;
    list-style-type: none;
    margin: 0;

    padding: 0;
}

.text {
    margin-left: 3em;
    margin-right: 3em;
}

.title {
    margin-left: 2.8em;
    margin-top: 1em;
    margin-right: 3em;
    font-size: 1.1em;
}

.text-km {
    text-align: right;
    margin-right: 2em;
    margin-left: 0.5em;
}

.map {
    margin-left: 1.6em;
    margin-right: 2em;
    margin-top: 1em;
    width: 16em;
    height: auto;
}

.bigmap {
    width: 22em;
    height: auto;
    margin-top: 2em;
    margin-left: 0.8em;
}

.heart {
    width: 1.5em;
    height: auto;
    margin-left: 3em;
}

.bin {
    width: 0.65em;
    height: auto;
    margin-left: 4em;
}

.back {
    width: 1.3em;
    height: auto;
    margin-left: 1.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.logo {
    width: 5em;
    height: auto;
    margin-left: 9em;
    margin-top: 1em;
    margin-right: 9em;
    margin-bottom: 1em;
}

.logonav{
    width: 100%;
    position:fixed;
    background-color: cyan;
    top: 0;
    background: linear-gradient(to right, rgb(113, 112, 228), #c45cc4);
}

.logobig {
    width: 8em;
    height: auto;
    margin-left: 7.5em;
    margin-top: 2em;
}

.logoback {
    width: 5em;
    height: auto;
    margin-left: 5.4em;
    margin-top: 1em;
    margin-right: 9em;
    margin-bottom: 1em;
}

.hamburger {
    width: 2em;
    height: auto;
    margin-left: 1em;
}

.post {
    margin: 0 2em 3em 2em;
    border: solid;
    background-color: white;
    border-radius: 1em;
    color: black;
    border: none;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.75);
    padding-bottom: 2em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

li {
    padding: 0 0 0 0;
    margin-left: 2em;
}





.slide{
    width: 375px;
    height: 667px;
    z-index: -1;
}
.noslide{
    position: fixed;
    z-index: 4;
}
.main{
    margin: 0;
}

.slider{
    overflow: hidden;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}

.slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: 0;
    }
}